html, body {
    height: 100%;

}
body {
    background: #ccc;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.head{
    height: 50px;
    border-bottom: 1px solid #001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .h-left{
        .log{
            font-size: 26px;
            text-decoration: none;
        }
    }
   .h-right{
       display: flex;
       align-items: center;
       .btn{
           margin-left: 50px;
       }
   }
}
.main{
    flex:1;
    display: flex;
    .menu{
        width: 200px;
        height: 100%;
        border-right: 1px solid red;
        overflow-y: auto;
        li{
            border-bottom: 1px solid #000;
            height: 50px;
            line-height: 50px;
            text-align: center;
            a{
                color: green;
               text-decoration: none; 
            }
        }
    }
    .body{
        background: #fff;
        flex: 1;
        padding: 10px 30px;
    }
}
.foot{
    border-top:1px solid #001;
    height: 50px;
}
.search-bar{
    margin: 0 0 10px 0;
}



//修改bootstrap 的样式=============================================
.table-hover>tbody>tr:hover {
    background: pink;
}
.pagination{
    float: right;
}
.form-group{
    margin-right: 10px;
}