<div class="head">
    <div class="h-left"><a href="/" class="log">XX后台管理系统</a></div>
    <div class="h-right">
        <div class="r-le">欢迎您 - xxx (管理员)</div>
        <div class="r-ri"><button type="button" class="btn btn-default">退出</button></div>
    </div>
</div>